.Loglogincontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.Logcheck-boxes {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Logcheck-boxes label {
    margin-left: 10px;
}
.text{
    margin-bottom: 10px;
    color:rgba(0, 48, 89, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Loglogincontainer form h2 {
    text-align: left;
    font-weight: 600;
    font-size: large;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Logconditional-message {
    text-align: center;
}
.Loginputform {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    width: 580px;
}
.Loglogin-form {
    border-radius: 12px;
    width: 639px;
    height: 350px;
    margin-left: 1128px;
    margin-top: 317px;                                                                                                                                              
}
.Loglogin-button {
    height: 40px;
    background-color: #003059;
    width: 540px;
    flex-shrink: 0;
    color: white;
    border-style: solid;
    border-radius: 4px;
    padding: 3px;
    margin-top: 10px;
}
.Logi label {
    margin-bottom: 6px;
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Logpass {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.Logpass a {
    font-size: 13px;
    align-self: flex-end;
    color: rgba(0, 48, 89, 0.80);
    text-decoration: none;
    float: right;
}
/* .Logpass label {
    margin-bottom: 6px;
    font-size: medium;
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.Loginputform > input {
    border-radius: 5px;
    border: none;
    border: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.loginImage{
    height: 500px;
    width:1500px; 
    background-color: #003059;                                                                            
}
.Loginputform > input:focus {
    /* border: 2px solid rgb(64, 64, 237); */
    border: 2px solid #000;
    border-radius: 4px; /* Change the border radius to   create a rounded effect */
}
.Logtext {
    padding: 8px;
    margin-bottom: 6px;
    height: 50px;
    width: 520px;
}
.buttontext{
    font-style: normal;
    font-family: "Roboto",sans-serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-left: 232px;
}

.Logbutton {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.Logbutton:hover {
    background-color: #45a049;
}

.Logbutton:active {
    background-color: #3e8e41;
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .login-form {
        margin-top: 80px;
        width: 300px;
    }
}

.Loglogin-error {
    text-align: center;
    color: red;
}
.Loghead {
    color: #063762;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight:bold;
}

.Logac {
    padding-left: 20px;
}
.LogHeader{
     margin-top: 20px;
}

.Logaccount {
    text-align: start;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 2px;
}

.Logaccount input[type='checkbox'] {
    margin-right: 5px;
    transform: scale(1.2);
}
.Logaccount span {
    margin-right: 1px;
    color: #777777;
    margin-bottom: 10px;
}

.Logaccount a {
    color: darkblue;
    text-decoration: none;
}
.Logmessage {
    margin-top: 20px;
}
.Logaccount.rem {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #777777;
}
