.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/Home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.check-boxes {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.check-boxes label {
    margin-left: 10px;
}

.container form h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: large;
}

.conditional-message{
    text-align: center;
}
.inputform {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.login-form {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 30vw;
}

.inputform>label {
    margin-bottom: 8px;
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputform>input{
    border-radius: 10px;
}

.text {
    padding: 8px;
    margin-bottom: 8px;
}

.button {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    max-width: 50%;
    align-self: center;
    padding: 5px;
    margin-top: 5px;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}
@media (min-width:768px){
    .container{
        max-width: 100%;
    }
}
@media  (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .login-form{
        margin-top: 80px;
        width: 300px;
    }
}
.message {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.login-error {
    text-align: center;
    color: red;
}
