.Loglogincontainer {
    display:flex;
    height: 100vh; /* Use viewport units to prevent vertical scrollbar */
    width: 100vw;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    
}
.login-section {
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
}


.loginImage {
    width: 50rem;
    height: auto;
}

.rectangle {
    height: 70vh; 
}

.Loglogin-form {
    height: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media(max-width:1300px ){
    .Loglogincontainer {
        width:100%;
        align-items: center;
        justify-content: center;
    }
    .loginImage {
        display: none;
    }
    .login-section{
        width: auto;
        padding-left: 70px;
        padding-right: 70px;
    }
    .Loglogin-form {
        display:inline-block;
        overflow: hidden;
        height:auto;
        width: auto;
    }
}
.login-text{
    margin-bottom: 10px;
    color:rgba(0, 48, 89, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Loginputform {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding : 10px;
}
.logPass{
    display: flex;
    justify-content: flex-start;
}
.Logpass a {
    font-size: 13px;
    align-self: flex-end;
    color: rgba(0, 48, 89, 0.80);
    text-decoration: none;
    float: right;
}

.Loginputform > input {
    border-radius: 5px;
    border: none;
    border: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}


.Loginputform > input:focus {
    /* border: 2px solid rgb(64, 64, 237); */
    border: 2px solid #000;
    border-radius: 4px; /* Change the border radius to   create a rounded effect */
}
.Logtext {
    padding: 8px;
    margin-bottom: 6px;
    height: 50px;
    width: 100%;
}



@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .login-form {
        margin-top: 80px;
        width: 300px;
    }
}

.Loglogin-error {
    text-align: center;
    color: red;
}
.Loghead {
    color: #063762;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight:bold;
}

.Logac {
    padding-left: 20px;
}
.LogHeader{
     margin-top: 20px;
}

.Logaccount {
    text-align: start;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 2px;
    align-items: center;
}

.Logaccount input[type='checkbox'] {
    transform: scale(1.5);
    width: 11px;
}
.Logaccount span {
    margin-right: 1px;
    color: #777777;
    margin-bottom: 10px;
}

.Logaccount a {
    color: darkblue;
    text-decoration: none;
}
.Logmessage {
    margin-top: 20px;
}

.msg{
    margin-left: 10px;
    width: 60%;
    margin-right: 112px;
}
.login-button{
    background-color: #003059;
    padding: 10px;
    color:#ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
}
