.profile-container {
}
.button-items {
    border: 1px solid black;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
}
/* Styling for the Password Change Form */
.changePassword-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-radius: 10px;
    padding: 10px;
}

.changePassword-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-item {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
    display: block;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.changePassword-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

.changepassword-button:hover {
    background-color: #0056b3;
}
/* Details.css */

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 50vw;
    align-items: flex-start;
    border-radius: 10px;
}

.details-content {
    display: flex;
    flex-direction: column;
}
.details-table td {
    padding: 10px;
}
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-label {
    font-weight: bold;
}
