.form-container {
    display: flex;

    justify-content: center;
    align-items: top;

    padding-top: 50px;
}

.userForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row;
    width: 80vw;
    top: 50px;
}
.formleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    margin-right: 4rem;
}
.formright {
    display: flex;
    flex-direction: column;

    width: 35vw;
}

.formleft .formfeild {
    width: 30vw;
}
.formright .formfeild {
    width: 30vw;
}
.title {
    text-align: center;
}
.form-button {
    background-color: #0d77d3;
    color: whitesmoke;
    width: 120px;
    padding: 10px;
    font-weight: 500;
    align-self: center;
    margin-right: 2rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: bold;
}
.userFormButton {
    display: flex;
    justify-content: center;
}
