/* .testCaseTable td {
    margin-right: 100px;
    border: 1px solid #ddd;
}
.testcasedetials {
    margin: 20px;
}
.testDetailsLabel {
    font-size: 1pt;
    font-weight: bold;
    margin-right: 30px;
}
.testCaseTable {
    display: flex;
    justify-content: space-between;
} */

.testCaseDetailsView > table {
    border-collapse: separate;
    border-spacing: 15px;
}
.testCaseTable td {
    padding-right: 50px;
    width: 200px;
}
.testDetailsLabel {
    font-size: 9pt;
    font-weight: bold;
    width: 10%;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}
.testDetailsValue {
    vertical-align: top;
    width: 40%;
    font-size: 9pt;
}
.testCaseDetailsView {
    display: flex;
    flex-direction: row;
    border: 1px solid #c1bfbf;
    margin-top: 10px;
    padding: 5px 5px;
}
.testCaseDetailsView div {
    width: 50%;
}
.testcaseandsetdetails {
}
.editTestCase {
    height: 20px;
    width: 20px;
}
.TestCaseFrom-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.editTestCaseDiv {
    width: 5%;
    align-self: flex-end;
}
.header-text-testcase {
    width: 95%;
}
.header-text-testcase > p {
    font-size: 11pt;
    color: #fff;
    display: inline-block;
    font-weight: 550;
}
.editTestDetailsValue {
    width: 100%;
    border: 1px solid #c1bfbf;
    font-size: 9pt;
}
.testCaseDetailsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.testCaseDetailsButtonEdit {
    background-color: #3575ba;
    color: white;
    font-weight: 600;
    font-size: 10pt;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
}
.testCaseDetailsButtonCancel {
    background-color: #696969;
    color: white;
    font-weight: 600;
    font-size: 10pt;
    padding: 5px;
    border-radius: 3px;
    width: 100px;
}
.dialogOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 86, 86, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
