.TesCaseForm-container {
    padding-left: 8vw;
    margin: 20px;
}
.TestCaseFrom-header {
    background-color: #3575ba;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.testcasecancelbutton {
    background-color: #696969;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-family: Inter;
    font-size: 16px;
}
.testcasesavebutton {
    background-color: #3575ba;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-family: Inter;
    font-size: 16px;
}
.testCasebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
.header-text-testcase {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.header-text-teststep {
    margin-left: 5px;
    font-weight: 600;
    color: #000;
    font-size: 20px;
}
.testStepHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.testCaseFormArea {
    display: inline-block;
    width: 60vw;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    resize: none;
}
.testCaseFormLabel {
    font-size: 9pt;
    display: block;
    margin-bottom: 5px;
}
.testCaseFormInput {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    width: 423px;
    height: 44px;
    margin-bottom: 20px;
}
