.test-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading > h2 {
    font-weight: bold;
    font-size: 18px;
}
.test-item {
    margin: 10px;
}
.test-submit {
    display: flex;
    justify-content: space-between;
}
