.project-dashboard {
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    position:relative;
}

.project-dashboard-sidebar {
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid rgb(235, 228, 228);
    height: 100vh;
    width: 15vw;
    position: fixed;
   
}
.project-dashboard-content {
    margin-left: 20vw; 
    padding-left: 10px;
}

.project-dashboard-sidebar ul {
    list-style-type: none;
}

.project-dashboard-sidebar li {
   
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0px;
    padding-left: 10px;
    color: #000;
    transition: background-color 0.3s ease;
}

  .project-dashboard-sidebar li:hover {
    background-color: rgb(247, 244, 244); 
    line-height: 1;
  }

  .project-dashboard-sidebar li.selected {
    color: #fff; 
    background-color: rgb(104, 200, 238); 
    border-radius: 5px; 
  }
.requirements-list {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

.requirements-list.open {
    margin-left: 10px;
    max-height: fit-content;
}

.arrow {
    height: 15px;
    width: 15px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.arrow-down {
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}

.icons {
    height: 20px;
    width: 20px;
}

.selected-req-set {
    background-color: #a5c0dd; 
    padding: 0;
    border-radius: 5px;
}
.selected-test-set {
    background-color: #a5c0dd;
    padding: 0;
    border-radius: 5px;
}

.create-reqSet-button {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 5px;
}

.reqform-set {
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
}
.testArrow {
    height: 15px;
    width: 15px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.testArrow-down {
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}

.test-list {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

.test-list.open {
    margin-left: 10px;
    max-height: fit-content;
}
.testsetdetails {
    margin-top: 20px;
    margin-left: 350px;
}

.testsetdetails table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.testsetdetails td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.testsetdetails td:first-child {
    font-weight: bold;
    width: 150px;
}

.testsetdetails td:last-child {
    text-align: right;
}

.testsetdetails tr:last-child td {
    border-bottom: none;
}


