.project-dashboard {
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    position:relative;
}

.project-dashboard-sidebar {
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid rgb(235, 228, 228);
    height: 100vh;
    width: 15vw;
    position: fixed;
   
}
.project-dashboard-content {
    margin-left: 20vw; 
    padding-left: 10px;
}

.project-dashboard-sidebar ul {
    list-style-type: none;
}

.project-dashboard-sidebar li {
   
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0px;
    padding-left: 10px;
    color: #000;
    transition: background-color 0.3s ease;
}

  .project-dashboard-sidebar li:hover {
    background-color: rgb(247, 244, 244); 
    line-height: 1;
  }

  .project-dashboard-sidebar li.selected {
    color: #fff; 
    background-color: rgb(104, 200, 238); 
    border-radius: 5px; 
  }
.requirements-list {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

.requirements-list.open {
    margin-left: 10px;
    max-height: fit-content;
}

.arrow {
    height: 15px;
    width: 15px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.arrow-down {
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}

.icons {
    height: 20px;
    width: 20px;
}

.selected-req-set {
    background-color: #a5c0dd; 
    padding: 0;
    border-radius: 5px;
}
.selected-test-set {
    background-color: #a5c0dd;
    padding: 0;
    border-radius: 5px;
}

.create-reqSet-button {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 5px;
}

.reqform-set {
    display: flex;
    align-items: center;
    justify-content: center;
}
.testArrow {
    height: 15px;
    width: 15px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.testArrow-down {
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}

.test-list {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
}

.test-list.open {
    margin-left: 10px;
    max-height: fit-content;
}
.testsetdetails {
    margin-top: 20px;
    margin-left: 350px;
}

.testsetdetails table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.testsetdetails td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.testsetdetails td:first-child {
    font-weight: bold;
    width: 150px;
}

.testsetdetails td:last-child {
    text-align: right;
}

.testsetdetails tr:last-child td {
    border-bottom: none;
}

.req-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}
.req-projectName{
    display: inline-block;
    height: 1.875rem;
    margin: 0.5rem;
    padding-left: 6rem;

}
.req-projectName>p{

    color: #000;
    font-family: monospace;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.req-header-underline{
    background: #B8B6B6;
    height: 0.0625rem;
    margin-left: 20px;
}
.req-add{
    display: inline-flex;
    height: 2.5rem;
    padding: 0.601rem 0.96163rem;
    justify-content: center;
    align-items: center;
    gap: 0.48081rem;
    border-radius: 0.48081rem;
    border: 0.962px solid #3575BA;
    background: #3575BA;
    box-shadow: 0px 0.9615941643714905px 1.923188328742981px 0px rgba(16, 24, 40, 0.05);
    margin-left: 1.3rem;
}
.requirements-icons{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: 6.25rem;
    
}
.req-add>p{
    color:#FFFFFF;
}
.req-header-icons{
    display: inline-flex;
    margin:0.3rem;
width: 2.6875rem;
height: 2.5rem;
padding: 0.7rem 0.7rem;
justify-content: space-between;
align-items: center;
border-radius: 0.48081rem;
border: 0.962px solid #D0D5DD;
background: #FFF;
cursor: pointer;
}


