.requirements-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;margin-left: 200px;
}
.para1{
    font-size: 20px;
    margin-bottom: 10px;
}
.dot-list1 {
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 20px;
}
.create1 {
    cursor: pointer;
    color: blue;
}
.create2 {
    cursor: pointer;
    color: #003059;
    font-weight: bold;
}
.create1:hover {
    text-decoration: underline;
}
.create2:hover {
    text-decoration: underline;
}
.requirements-img {
    width: 20px;
    height: 20px;
    display: inline;
    margin-right: 10px;
}
.reqnameform {
    height: 200px;
    width: 300px;
    position: absolute;
    left: 45%;
    top: 400px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px 20px 20px 20px;
    visibility: hidden;
}
.reqnameform.active{
    visibility: visible ;
}

.reqok {
    height: 30px;
    width: 65px;
    margin-left: 60px;
    background-color: #4d72ae;
    color: whitesmoke;
    border-radius: 2px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}

.reqok:hover {
    background-color: #0056b3;
}
.reqcancel {
    margin-left: 40px;
    height: 30px;
    width: 65px;
    border-radius: 4px;
    background-color: rgba(234, 6, 6, 0.762);
    color: white;
    border: none;
    cursor: pointer;
}
.reqcancel:hover {
    background-color: red;
}
.reqnameform > label {
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    font-weight: 500;
}

.reqnameform > input {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.reqbutton {
    background-color: #b8c2c9;
    border: 1px solid #a0a9ad;
    color: #fff;
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
  }
  
.reqbutton {
  background-color: #b8c2c9;
  border: 1px solid #a0a9ad;
  color: #fff;
  padding: 10px;
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

.reqiconname {
  height: 35px;
  width: 190px;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 530px;

  background-color: gray;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0;
  visibility: visible;
  transform: translateY(-50%);
  transition: opacity 1s ease, visibility 0.3s ease;
}

.reqiconname:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -3%;
  width: 10px;
  height: 10px;
  background-color: gray;
  transform: rotate(-45deg);
}

.reqbutton:hover + .reqiconname {
  opacity: 1;
  visibility: visible;
}
