.project-title > b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 48, 89);
    margin-left: 2rem;
    height: 3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.projects-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.projects-section.visible {
    width: 80vw;
}
/* .project-main {
    border-radius: 7.693px;
    border: 0.962px solid #d0d5dd;
    background: #fff;
    width: 17rem;
    height: 14rem;
    display: flex;
    justify-content: center;
} */

.projects-card {
    width: 200px;
    height: 190px;
    border-radius: 7.693px;
    border: 0.962px solid #d0d5dd;
    padding: 5px;
}
.projects-card:hover {
    background-color: #eff5fe;
    transition: background-color 0.3s;
}
/* .project-main:hover {
    background-color: #eff5fe;
    transition: background-color 0.3s;
} */
/* .projects-card b {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.262px;
} */
.para {
    color: #000;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.image-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconimg {
    width: 80px;
    height: 80px;
    padding-left: 10px;
}
.icon-border1 {
    border-radius: 5px;
    border: 0.962px solid #d0d5dd;
}
.edit-pic1 {
    height: 20px;
    width: 20px;
}
.iconimg-small {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
}
.project-description {
    padding-left: 10px;
    margin-top: 10px;
}
.project-description > b {
    font-size: 10pt;
}
.project-description > p {
    font-size: 9pt;
}
.searchbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b8b6b6;
    padding-left: 20px;
    padding-right: 20px;
}
.searchbarright {
    display: flex;
    gap: 30px;
}
.projects-header {
    height: 5rem;
    display: flex;
    align-items: center;
    color: black;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 7.5rem;
}

.create-project {
    height: 2.6rem;
    width: 170px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #3575ba;
    color: #fff;
    font-weight: 700;
}

.datein {
    width: 9rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0);
}

.menu-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.userform-label-name b {
    color: black;
    font-weight: 600;
    font-family: Poppins;
    font-size: small;
}
.title {
    font-size: larger;
    padding: 10px;
    font-style: Inter;
    font-weight: 900;
}
.dateDiv {
    height: 113px;
}
.errorMessage {
    color: #d32f2f;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}
.errorDiv {
    border: 0.2px solid #d32f2f;
    border-radius: 4px;
}
.projectpara > b {
    font-size: 12pt;
}
