.project-title > b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 48, 89);
    margin-left: 2rem;
    height: 3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.projects-section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    column-gap: 150px;
    row-gap: 60px;
    flex-wrap: auto;
    padding: 0rem 5rem 5rem;
    margin-top: 20px;
}
.projects-section.visible {
    width: 80vw;
}
.project-main {
    border-radius: 7.693px;
    border: 0.962px solid #d0d5dd;
    background: #fff;
    width: 17rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.project-main:hover {
    transform: scale(1.1);
}
.projects-card {
    cursor: pointer;
    width: 15rem;
    height: 10rem;
}

.projects-card b {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.262px;
}
.para {
    color: #000;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.image-pic {
    width: 12rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    row-gap: 1rem;
    column-gap: 2rem;
}
.iconimg {
    height: 8rem;
    width: 8rem;
}
.icon-border1 {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.693px;
    border: 0.962px solid #d0d5dd;
    background: #fff;
    border: 0.962px solid #d0d5dd;
    background: #fff;
}
.edit-pic1 {
    width: 20px;
    height: 20px;
}
.iconimg-small {
    align-self: flex-start;
    display: flex;
    column-gap: 2px;
    margin-bottom: 6rem;
    margin-left: 1rem;
}
.project-description {
    margin-bottom: 2rem;
}
.searchbar {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b8b6b6;
    padding: 10px;
    /* margin-left: 67rem; */
}
.searchbarright {
    margin-left: 67rem;
    display: flex;
    gap: 30px;
}
.projects-header {
    height: 5rem;
    display: flex;
    align-items: center;
    color: black;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 7.5rem;
}
/* For screens with a maximum width of 1200px (typical laptop size) */
@media (max-width: 1500px) {
    .searchbarright {
        margin-right: 17rem; /* Adjust the margin as needed */
        gap: 20px; /* Adjust the gap as needed */
    }
    /* .projects-header {
        margin-right: 30rem; /* Adjust the margin as needed 
    } */
}

/* For screens with a maximum width of 992px (smaller laptop size) */
@media (max-width: 1300px) {
    .searchbarright {
        margin-right: 30rem; /* Adjust the margin as needed */
        gap: 10px; /* Adjust the gap as needed */
    }
    /* .projects-header {
        margin-right: 1rem; /* Adjust the margin as needed 
    } */
}

.create-project {
    height: 2.6rem;
    width: 170px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #3575ba;
    color: #fff;
    font-weight: 700;
}

/* .createProject-btn {
    width: 8rem;
    height: 2.3rem;
    background-color: rgb(53, 118, 186);
    border-radius: 10px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    margin-top: 10px;
} */

.datein {
    width: 9rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0);
}

.menu-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.userform-label-name b {
    color: black;
    font-weight: 600;
    font-family: Poppins;
    font-size: small;
}
.title {
    font-size: larger;
    padding: 10px;
    font-style: Inter;
    font-weight: 900;
}
.dateDiv {
    height: 113px;
}
.errorMessage {
    color: #d32f2f;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}
.errorDiv {
    border: 0.2px solid #d32f2f;
    border-radius: 4px;
}
