.project-title > b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 48, 89);
    margin-left: 2rem;
    height: 3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.projects-section {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    column-gap: 20px;
    row-gap: 50px;
    flex-wrap: auto;
    padding: 0rem 5rem 5rem;
}
.projects-section.visible {
    width: 80vw;
}
.projects-header {
    height: 5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 5rem;
}

.create-project {
    height: 2.6rem;
    width: 170px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #3575ba;
    color: #fff;
    font-weight: 700;
}
.image-pic {
    width: 8rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding : 10px;
    
}
.searchbar {
    margin-top: 10px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.createProject-btn {
    width: 8rem;
    height: 2.3rem;
    background-color: rgb(53, 118, 186);
    border-radius: 10px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.projects-card {
    cursor: pointer;
    transition: all 0.5s ease;
    width: 15rem;
    height: 10rem;
    overflow: hidden;
    margin-right: 130px;
}
.iconimg {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}
.projects-card:hover {
    transform: scale(1.1);
}

.projects-card b {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.262px;
}
.para {
    color: #000;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.datein {
    width: 9rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0);
}

.menu-handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 10rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.userform-label-name b {
    color: black;
    font-weight: 600;
    font-family: Poppins;
    font-size: small;
}
.title {
    font-size: larger;
    padding: 10px;
    font-style: Inter;
    font-weight: 900;
}
.dateDiv {
    height: 113px;
}
.errorMessage {
    color: #d32f2f;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}
.errorDiv {
    border: 0.2px solid #d32f2f;
    border-radius: 4px;
}
