.requirementSetForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-requirementSetForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: centers;
}
.reqCreate .reqCancel {
    padding: 10px;
    margin: 10px;
}
.reqCancel {
    background-color: red;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    font-weight: 500;
    color: white;
}
.reqCreate {
    background-color: #007bff;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    font-weight: 500;
    color: white;
}
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 86, 86, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirementsetform {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
